body,html{
    margin: 0;
    height: 100vh;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header{
    text-align: center;
    margin-top: 1rem;
    font-size:4rem;
    font-weight: 800;
    font-family: cursive;
    color:darkslategray;
}
.footer{
    background-color: #3498db;
    text-align: center;
    padding: 10px 0px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.container{
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 60%;
    padding: 10px;
    /* max-width: 80%;
    max-height: 80vh; */
    border: 2px solid #ccc;
    background-color: #f4f4f4;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.output-screen{
    color: black;
    width: 100%;
    height: 20%;
    border: 2px solid #ccc;
}
#display {
    width: 97%;
    height: 40%;
    padding: 5px;
    font-size: 16px;
    text-align: right;
    border: none;
    outline: none;
}
#result{
    width: 97%;
    height: 60%;
    padding: 5px;
    font-size: 20px;
    text-align: right;
    border: none;
    outline: none;
}
.input-screen{
    display: flex;
    width: 100%;
    height: 80%;
    border: 2px solid #ccc;
}

.buttons{
    display: flex;
    flex-direction: column;
    gap:5px;
    width: 100%;
}

.row{
    display: flex;
    gap: 5px;
    width: 100%;
    flex: auto;
}
button{
    flex: 1;
    padding: 10px;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    background-color: #fff;
    width: 100%;
}
#clear,
#equals{
    flex:2.5;
}
button:hover {
    background-color: #00b4d8;
}
#clear:hover,
#backspace:hover{
    background-color: #219ebc;
}
#divide:hover,
#multiply:hover,
#subtract:hover,
#add:hover{
    background-color: aqua;
}
#equals:hover{
    background-color:#ffb703;
}


/* .input{
    width: calc(100%/3);
    height: calc(100%/3-2%);
    border: 1px solid #ccc;
    flex:auto;
} */
/* .input:hover{
    background-color: pink;
} */
/* .op{
    flex: auto;
    border: 1px solid #ccc;
} */